@charset "utf-8";
/* 맨위에 utf-8 인코딩 설정 필수 
- 외부 CSS 파일은 파일 자체적으로 처리되므로
인코딩형식도 따로 지정해야한다! */

/* Info PJ 공통 CSS - common.css */

/* 웹폰트 구글CDN (Content Dilivery Network) */
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1:wght@200&family=Orbit&Noto+Sans+KR:wght@100..900&display=swap");
/* Google Font 여러개 Import 하기 위해서 &family=... 로 뒤에 추가해줬음 */

/* 웹폰트 CSS rules to specify families

                서브타이틀용
                font-family: 'Black Han Sans', sans-serif;
                font-family: 'Gothic A1', sans-serif;
                font-family: 'Orbit', sans-serif; 
                
                기사본문용
                font-family: "Noto Sans KR", sans-serif;

            */

/* CSS코딩구역 */
/* 
                CSS 설정 코딩방식

                선택자{
                    속성:값;
                }

                -> 선택자는 요소명/클래스명/아이디명 등으로 사용

                [ CSS 박스모델 ]
                - 모든 html 요소는 사각형으로 되어 있고
                가로,세로,패딩,보더,마진의 속성으로 구성됨
                (width/hight/padding/border/margin)
                -> 기본박스 디자인은 가로,세로 크기를 줄 경우 패딩과 보더는 박스 크기에 포함되지 않는다.
                --> 이런 박스를 '컨텐트박스' 라고함

                */

/* 공통 디자인 : 클래스를 주로 사용함! */
.part {
    /* 박스모델 5가지 셋팅 */
    /* 가로크기-기본값 auto
                블록의 기본값은 부모박스 채우기
                인라인의 기본값은 내용물만큼 */
    width: 750px;
    /* 세로크기-기본값 auto
                모든 요소에서 기본값은 내용물만큼 */
    /* height: 300px; */
    height: auto;
    border: 4px double green;
    /* 보더 모서리 둥글게 */
    border-radius: 20px;
    /* 패딩
                    padding: 수치; 
                    (4방향 모두)
                    padding: 수치 수치; 
                    (위아래 양쪽)
                    padding: 수치 수치 수치; 
                    (위 양쪽 아래)
                    padding: 수치 수치 수치 수치; 
                    (위 오른쪽 아래 왼쪽)
                */
    padding: 20px 35px 35px;
    /* 박스가 패딩,보더를 포함하는 설정 */
    box-sizing: border-box;
    /* box-sizing: content-box; 가 기본값 */
    /* 마진 
                    margin: 수치; 
                    (4방향 모두)
                    margin: 수치 수치; 
                    (위아래 양쪽)
                    margin: 수치 수치 수치; 
                    (위 양쪽 아래)
                    margin: 수치 수치 수치 수치; 
                    (위 오른쪽 아래 왼쪽)

                    [ 블록박스 가로방향 중앙정렬 마진설정 ]
                    margin: 0 auto;

                */
    margin: 20px auto;
}

/* 상단영역,하단영역 공통 - 콤마(,)는 그룹선택자 */
header.part,
footer.part {
    /* color: red; */
    text-align: center;
}

/* 상단영역 */
#top-area {
    background: #d0ffec;
}
/* 하단영역 */
#info-area {
    background-color: #d3d3d3;
}
/* 타이틀 폰트 */
.tit {
    font-family: "Black Han Sans", sans-serif;
    /* 글자크기 */
    font-size: 48px;
    margin: 20px 0px 15px;
    text-shadow: 5px 5px 5px #88888870;
    margin: 15px 0px 10px;
}
/* 메뉴 폰트 */
.menu {
    font-family: "Orbit", sans-serif;
}
/* 하단 폰트 */
#info-area {
    font-family: "Gothic A1", sans-serif;
}
/* 주소 폰트 */
#info-area address {
    font-style: normal;
} /* #info-area 하위 요소인 address 의 자체 폰트값이 italic으로 되어 있으므로 #info-area{} 에서 폰트스타일을 바꿔도 변화가 없기 때문에 #info-area address{} 에서 속성값을 지정해줌 */

/* 메뉴 링크 */
.menu a {
    /* 글자색 */
    color: #000;
    /* 글자밑줄없앰 */
    text-decoration: none;
    /* 글자크기 */
    font-size: 16px;
}
/* 메뉴링크 호버시 */
.menu a + a:hover {
    text-decoration: overline;
    text-decoration-style: wavy;
    color: hotpink;
}

/* 
                [ 선택자들 ]
                1. 타입선택자 : 태그명
                2. 아이디/클래스 선택자 : 요소이름
                3. 종속 선택자 : 요소명+이름 (ex. h1#my header.part 등)
                4. 자손 선택자 : 띄어쓰기
                5. 직계자식 선택자 : 꺽쇠(>) [가독성상 띄어쓰기를 1개정도 앞뒤로 넣어주는 편]
                6. 그룹 선택자 : 콤마(,)
                7. 형제 선택자 : 플러스(+)
                    예) a+a -> 앞에 a요소가 있는 a요소 선택
                
            */
