@charset "utf-8";
/* 인트로 사이트 메인 CSS - main.css */

/****** Scroll Animation Setting ******/
html{
    scroll-behavior: smooth;
}

/****** Reset Margin, Padding ******/
html,body,ol,ul,h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}

/****** 높이값 화면 최대치 ******/
html,body,.main-area,.page{
    height: 100%;
}

/****** Remove List Style ******/
ul,ol{
    list-style: none;
}

/****** Top Area ******/
.top-area{
    position: fixed;
    background-color: #000000;
    top: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 999;
}

/****** Logo Size ******/
.logo img{
    width: 8%;
    padding: 0 100px;
    /* Size Up Transition */
    transition: all 0.2s linear;
}
/* Img Hover Size Up */
.logo img:hover{
    transform: scale(1.25);
}
.logo {
    text-align: center;
}

/****** Menu Box ******/
.menu{
    width: 700px;
    padding: 10px;
    padding-bottom: 0;
    margin: 0 auto;
}

/****** Menu List ******/
.menu li{
    float: left;
    text-align: center;
    width: calc(100%/3);
    font-size: 25px;
}
/* Float Clear */
.menu ul::after{
    content: '';
    display: block;
    clear: both;
}

/****** Menu List Anchor ******/
.menu a{
    text-decoration: none;
    color: aliceblue;
    transition: all 0.15s linear;
}
/* hover */
.menu a:hover{
    text-decoration: underline;
    text-decoration-color: hotpink;
    color: hotpink;
    font-size: 120%;
}

/****** Background ******/
#pg1{
    background: url(../images/bg1.jpg) no-repeat fixed center/cover;
}
#pg2{
    background: url(../images/bg2.jpg) no-repeat fixed center/cover;
}   
#pg3{
    background: url(../images/bg1.jpeg) no-repeat fixed center/cover;
}   

/****** Link Box ******/
.link-box{
    position: relative;
    top: 33%;
    
    border: 2px groove white;
    border-radius: 20px;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.2);
}
