@charset "utf-8";
/* 인트로 사이트 메인 CSS - main.css */

/****** Scroll Animation Setting ******/
html{
    scroll-behavior: smooth;
}

/****** Reset Margin, Padding ******/
html,body,ol,ul,h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}

/****** 높이값 화면 최대치 ******/
html,body,.main-area,.page{
    height: 100%;
}

/****** Remove List Style ******/
ul,ol{
    list-style: none;
}

/****** Top Area ******/
.top-area{
    position: fixed;
    background-image: linear-gradient(to bottom,#000 90%,transparent);
    top: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 999;
}

/****** Logo Size ******/
.logo img{
    width: 8%;
    padding: 0 100px;
    /* Size Up Transition */
    transition: all 0.2s linear;
}
/* Img Hover Size Up */
.logo img:hover{
    transform: scale(1.25);
}
.logo{
    text-align: center;
}

/****** Menu Box ******/
.menu{
    width: 700px;
    padding: 10px;
    padding-bottom: 0;
    margin: 0 auto;
}

/****** Menu List ******/
.menu li{
    float: left;
    text-align: center;
    width: calc(100%/3);
    font-size: 25px;
}
/* Float Clear */
.menu ul::after{
    content: '';
    display: block;
    clear: both;
}

/****** Menu List Anchor ******/
.menu a{
    text-decoration: none;
    color: aliceblue;
    transition: all 0.15s linear;
}
/* hover */
.menu a:hover{
    text-decoration: underline;
    text-decoration-color: red;
    color: red;
    font-size: 115%;
}

/****** Background ******/
body{
    background-color: #000;
}
#pg1{
   background-image: linear-gradient(
    to right,
    rgba(0,0,0,0) 15%,
    rgba(0,0,0,0.5) 20%,
    rgba(0,0,0,0.7) 25%,
    rgba(0,0,0,1) 30%,
    rgba(0,0,0,1) 45%,
    rgba(0,0,0,1) 50%
    ),
    url(../images/bg1.jpg)
    ;
background-repeat: no-repeat;
background-size: contain;
background-position: left;
border-radius: 30px;

}
#pg2{
    background-image: linear-gradient(
        to left,
        rgba(0,0,0,0) 15%,
        rgba(0,0,0,0.5) 20%,
        rgba(0,0,0,0.7) 25%,
        rgba(0,0,0,1) 30%,
        rgba(0,0,0,1) 45%,
        rgba(0,0,0,1) 50%
        ),
        url(../images/bg2.jpg)
        ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    border-radius: 30px;
}   
#pg3{
    background-image: linear-gradient(
        to top,
        rgba(0,0,0,0) 20%,
        rgba(0,0,0,0.5) 30%,
        rgba(0,0,0,0.7) 40%,
        rgba(0,0,0,1) 70%,
        rgba(0,0,0,1) 70%,
        rgba(0,0,0,1) 80%
        ),
        url(../images/bg3.webp)
        ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 150px;
}   

/****** Link Box ******/
.link-box{
    position: relative;
    top: 25%;
    
    border: 2px groove white;
    border-radius: 20px;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.2);
    line-height: 40px;
}

/* Link Box Title */
.lb-title{
    font-size: 30px;
    color: rgb(227, 16, 16);
    margin: 10px 0 15px 0;
}
/* Link Box P */
.link-box p a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    transition: all 0.1s linear;
}
/* Link Box P Hover */
.link-box p a:hover{
    text-decoration: red underline;
    color: red;
}

/****** Bottom Area ******/
/* footer{
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 100px;
} */

/* Body height를 100%로 줘도 왜 overflow 되는지 이유를 모르겠음.. */